<!-- credit card browser modal button -->
<button class="label" data-toggle="tooltip" data-placement="bottom" data-title="Credit Card Browser"><a href="#ex4"
        rel="modal:open" class="category btn"><i class="fas fa fa-credit-card fa-3x"></i></a></button>

<!-- credit card browser modal -->
<div id="ex4" class="modal">

    <!-- table start -->
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Miles</th>
                <th scope="col">Rewards</th>
                <th scope="col">Cashback</th>
                <th scope="col">Add to Wallet</th>

            </tr>
        </thead>

        <!-- cards begin -->
        <tbody>
            <tr>
                <th scope="row">Chase Freedom</th>
                <td>2x</td>
                <td>3x</td>
                <td>5x</td>
                <td>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Bank Of America</th>
                <td>2x</td>
                <td>3x</td>
                <td>5x</td>
                <td>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">CapitalOne</th>
                <td>2x</td>
                <td>3x</td>
                <td>5x</td>
                <td>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""> </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- close button -->
    <a href="#" rel="modal:close">Close</a>
</div>