<!-- fun fact modal button -->
<button id="fun-fact-btn" class="label" data-toggle="tooltip" data-placement="bottom" title="Extra Credit"><a href="#funFact" rel="modal:open"
        class="category btn"><i class="fas fa fa-book fa-3x"></i></a>

    <!-- fun fact modal -->
    <div id="funFact" class="modal">

        <!-- close button -->
        <a href="#" rel="modal:close">Close</a>
    
    </div>

    