<!-- fun fact modal button -->
<button class="label" data-toggle="tooltip" data-placement="bottom" title="Fun Fact"><a href="#ex5" rel="modal:open"
        class="category btn"><i class="fas fa fa-book fa-3x"></i></a></label>

    <!-- fun fact modal -->
    <div id="ex5" class="modal">

        <p>Fact #9 : A credit scrore is a numbesdfasr out of 850.</p>

        <!-- close button -->
        <a href="#" rel="modal:close">Close</a>
    </div>