    <!-- perks calculator button -->
    <button class="label" data-toggle="tooltip" data-placement="bottom" title="Calculator"><a href="#perks"
            rel="modal:open" class="category btn"><i class="fas fa fa-calculator fa-3x"></i></a></button>

    <!-- perks calculator modal -->
    <div id="perks" class="modal">

        <!-- input field for price number -->
        <div class="input-group mb-3">
            <input type="text" id="user-spend-input" class="form-control" placeholder="enter the amount to spend" aria-label="spend"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button id="text-enter-button" class="btn btn-outline-secondary" type="button">Calculate</button>
            </div>
        </div>

    <!-- table start -->
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">Card</th>
                <th scope="col">Miles</th>
                <th scope="col">Rewards</th>
                <th scope="col">Cashback</th>

            </tr>
        </thead>
        <tbody id="perks-results">

        </tbody>
    </table>

        <!-- close button -->
        <a href="#" rel="modal:close">Close</a>
    </div>