    <!-- perks calculator button -->
    <button class="label" data-toggle="tooltip" data-placement="bottom" title="Calculator"><a href="#perks"
            rel="modal:open" class="category btn"><i class="fas fa fa-calculator fa-3x"></i></a></button>

    <!-- perks calculator modal -->
    <div id="perks" class="modal">

        <!-- input field for price number -->
        <div class="input-group mb-3">
            <input type="text" id="user-spend-input" class="form-control" placeholder="enter the amount to spend" aria-label="spend"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button id="text-enter-button" class="btn btn-outline-secondary" type="button">Calculate</button>
            </div>
        </div>

    <!-- table start -->
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">Card</th>
                <th scope="col">Miles</th>
                <th scope="col">Rewards</th>
                <th scope="col">Cashback</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Amex</td>
                <td>200</td>
                <td>5x</td>
                <td>4%</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jetblue</td>
                <td>30</td>
                <td>2x</td>
                <td> </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Citi plus</td>
                <td>50</td>
                <td>5x</td>
                <td>5%</td>
            </tr>
        </tbody>
    </table>

        <!-- close button -->
        <a href="#" rel="modal:close">Close</a>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous">
        </script>
    
        <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
        </script>
    
        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
        </script>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
        <script type="text/javascript" src="../utils/calculate.js"></script>
    