<div class="col-md-12 text-center enter_section ">
   <span>
      (Total comments:
      {{getLength comments }})
   </span>
   <form action="/api/comments/create"
         method="POST">
      <input type="text"
             class="form-control"
             name="comment"
             value=""
             placeholder="add your comment"
             id="enter_text">
      <button type="submit"
              class="btn btn-dark"
              id="text-enter-button">comment</button>
   </form>
</div>