     <!-- sign up modal button -->
    <button class="label" data-toggle="tooltip" data-placement="bottom" title="Sign Up"><a href="#signUp"
            rel="modal:open" class="category btn"><i class="fas fa fa-user-plus fa-3x"></i></a></button>

    <!-- sign up modal -->
    <div id="signUp" class="modal">
        <form>
            <div class="form-row">

                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>

                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Sign Up</button>
                </div>

            </div>
        </form>

        <!-- close button -->
        <a href="#" rel="modal:close">Close</a>
    </div>