<div>
    {{!-- for each card saved in the wallet --}}
    {{#each walletCard }}
    <div>{{ cardName }}</div>
    <div>{{ miles }}</div>
    <div>{{ rewards points }}</div>
    <div>{{ cashback }}</div>
    {{/each}}

</div>>