<!DOCTYPE html>
<html lang="en">

<head>
      <title >Extra Credit</title>
      <meta charset="UTF-8">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

      <!-- main style -->
      <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>


      {{{ body }}}


      <!-- jQuery links -->
      <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

      <!-- main js file-->
      <script src="/assets/js/script.js"></script>
</body>

</html>