<!DOCTYPE html>
<html lang="en">

<head>
   <title>Sequelize box</title>
   <meta charset="UTF-8">
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet"
         href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <!-- Optional theme -->
   <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet"
         href="/assets/css/style.css"
         type="text/css" />
</head>

<body>
   {{{ body }}}

   {{!-- add front end script if relevant --}}
   {{!-- <script src="/assets/js/script.js"></script> --}}
</body>

</html>