<div class="col-md-12 title" id="top-bar">
   <h1 class="ml-4"> Extra Credit </h1>
</div>

<div class="container">
   <div class="boxes">

      
      {{!-- view cooment  --}}
      {{> viewComments}}

      {{!-- post comment --}}
      {{> postComments}}

      {{!-- {{> rewards calculator}} --}}

      {{!-- {{> myWallet}} --}}

      {{!-- {{> signUp}} --}}

      {{!-- {{> funFacts}} --}}

   </div>
</div>