<div class="col-md-12 "
     id="top-bar">
   <h1 class="ml-4"> Sequelize box </h1>
</div>

<div class="container">
   <div class="row">

      {{!-- view cooment  --}}
      {{> viewComments}}

      {{!-- post comment --}}
      {{> postComments}}

   </div>
</div>