

body {
    background-color: whitesmoke;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem; 
    padding: 5px;           
}

.jumbotron{
    text-align: center;
    height: 8rem;
}

/* body container */

.container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn:hover {
    color: #0075fa;
    cursor: pointer;
}

/* close button */

.close {
    color: #ff8725;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color:  #0075fa;
    text-decoration: none;
    cursor: pointer;
}


/* MODAL */

/* .about{
    background-color: transparent;
    color: #d4d4dc;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    width: 20%;
    position: relative;
} */

.about:hover {
    color: #6aaffe;
    cursor: pointer;
}

.modal {
    display: none;
    /* hidden */
    position: fixed;
    z-index: 1;
    /* pops up on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    /* opacity */
}

/* modal content */

.modal-content {
    background-color: #cae7ff;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #292929;
    width: 80%;
}

/* modal text */

p {
    color: #000000;
    font-size: 12px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    position: relative;
    margin-top: 10px;
}


/* modal text */
p {
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    position: relative;
    margin-top: 10px;
}



#boxes {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .box {
    height: 100%;
    justify-content: center;
    margin: 10px;
    width: 100px;
    line-height: 90px;
    text-align: center;
    align-items: center;
    border: 1px solid Black;
}